nginx-service/sites-enabled/
nginx-service/ssl/
nginx-service/var/
postgres-admin-tar/
postgres-service/data/
postgres-admin-service/data/
.venv
__pycache__
app.db

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json