.default-button {
    display: flex;
    min-width: 200px;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    border: none;
    border-radius: var(--default-border-radius);
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    transition-duration: var(--default-transition-duration);
    outline: none;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.default-button:hover {
    background-color: var(--primary-color-darker);
    transition-duration: var(--default-transition-duration);
}


