alabaster==0.7.16
annotated-types==0.7.0
Babel==2.15.0
black==24.4.2
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
docstring_parser==0.16
docutils==0.21.2
email_validator==2.1.1
flake8==7.0.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-HTTPAuth==4.8.0
flask-swagger-ui==4.11.1
greenlet==3.0.3
idna==3.7
imagesize==1.4.1
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
passlib==1.7.4
pathspec==0.12.1
piccolo==1.8.0
platformdirs==4.2.2
pycodestyle==2.11.1
pydantic==2.7.3
pydantic_core==2.18.4
pyflakes==3.2.0
Pygments==2.18.0
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.30
targ==0.4.0
tomli==2.0.1
typing_extensions==4.12.1
urllib3==2.2.1
Werkzeug==3.0.3
psycopg2==2.9.10
