.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;   
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.page__header {
    display: block;
    width: 100%;
}

.page__content {
    display: flex;
    flex-direction: row;
    width: var(--useful-width);

    margin-top: 80px;
}

.page__aside {
    display: block;
    width: 30%;
    padding: 16px;
}

.page__mainContent {
    display: block;
    width: 70%;
    padding: 16px;
}

@media screen and (max-width: 900px) {
    .page__content {
        flex-direction: column;
    }

    .page__aside {
        width: 100%;
    }

    .page__mainContent {
        width: 100%;
    }
}
