@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

:root {
    --white: #fff;
    --background-color: #eee;
    --black: #0e0e0e;

    --primary-color: #6495ED;

    --red: #FD151B;
    --yellow: #FFB30F;
    --green: #26C485;
    --dark-blue: #01295F;

    --default-border-radius: 16px;
    --default-padding: 16px;
    --default-transition-duration: 0.3s;
}

html {
    min-height: 100%;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100%;
    margin: 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

body > #root {
    min-height: 100vh;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

svg {
    vertical-align: top;
    line-height: 20px;
    font-size: 20px;
    align-items: center;
}

.danger-text {
    color: var(--red);
}
