.password-input {
    display: flex;
    width: 100%;
    gap: 16px;
}

.password-input__input {
    display: block;
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 2px solid var(--background-color);
    transition-duration: var(--default-transition-duration);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.password-input__icon {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 40px;
}

.password-input__input:hover {
    transition-duration: var(--default-transition-duration);
    border-bottom: 2px solid var(--primary-color);
}

.password-input__input:focus {
    transition-duration: var(--default-transition-duration);
    border-bottom: 2px solid var(--primary-color);
}
